@import "tailwindcss";

 .mycontainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
}

body , h1 ,h2 ,h3 ,h4 ,h5 ,h6 , span , button {
 font-family: "Russo One", sans-serif;
}
p , a, input {
   font-family: "Lato", sans-serif;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.30) 2.4px 2.4px 0.2px;
}
.bg-graydient-box {
     background-color: var(--token-33c21092-8a05-4905-85e1-0e05518e6553, rgb(114, 163, 20));
    border-radius: 100px;
    box-shadow: inset 0px 4px 8px 0px var(--token-b2a7ff7a-b957-42b7-a20a-448bc74aab27, rgba(0, 0, 0, 0.32));
    will-change: auto;
    transform: none;
    transform-origin: 50% 50% 0px;
   
}

.bg-graydient-level {
     background-color: var(--token-33c21092-8a05-4905-85e1-0e05518e6553, rgb(114, 163, 20));
    box-shadow: inset 0px 4px 8px 0px var(--token-b2a7ff7a-b957-42b7-a20a-448bc74aab27, rgba(0, 0, 0, 0.32));
    will-change: auto;
    transform: none;
    transform-origin: 50% 50% 0px;
   
}

.main-grade{
    background: linear-gradient(
  to right,
  #C5FF9E 0%,
  #EEFFE3 24%,
  #F5FFEE 51%,
  #D6FFBA 100%
);

}
.shadow-bottom {
    box-shadow: 9px 9px 0px 0px var(--token-4fe0bb0a-c3fd-4a6d-b8cb-3a52089c8936, rgb(190, 254, 178));
}
section.color-shadow:before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
        circle at 60% 0%,        /* Center-Top */
        rgba(200, 255, 200, 0.45) 0px,
        rgba(200, 255, 200, 0.25) 500px,
        rgba(255, 255, 255, 0) 300px   /* effect size = 300px */
    );

    filter: blur(40px);   /* smooth shadow */
}

.marquee {
  animation: slide 20s linear infinite;

}
.shadow-marquee {
    box-shadow: 0 16px 15px -5px #000000;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.bg-graydient {
  background: linear-gradient(180deg, #BEFEB2 0%, #F5FFEE 31%, #74E926 100%);
}
.border-graydient {
  position: relative;
}

.border-graydient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background: linear-gradient(
    to right,
    transparent 0%,
    white 20%,
    white 60%,
    transparent 100%
  );
}

body{
  margin : 0;
}


.box {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 4px solid #a0522d; /* brown border */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  font-family: sans-serif;
  text-align: center;
}

